<!DOCTYPE html>
<html>
<head>
  <title>Unicode highlight</title>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-8311622-24', 'auto');
    ga('send', 'pageview');

  </script>
</head>
<body>
  <h1>Unicode highlight</h1>
  <p>
    Enter your text and this app will highlight any unicode characters.
  </p>
  <form method="POST" action="/highlight">
    <textarea name="content" rows="15" cols="80" placeholder="Your text here"></textarea>
    <br>
    <input type="submit" value="Highlight">
  </form>
  <p>
    Unicode highlight is a project of Travis Briggs. See more at
    <a href="http://travisbriggs.com">travisbriggs.com</a>.
  </p>
  <p>
    <a href="https://github.com/audiodude/unicode-highlight">
      Fork this project on Github.
    </a>
  </p>
</body>
</html>
